/node_modules
/.nbb
/.cpcache
.DS_Store
src/feynman_OS/logseq/bak/
src/feynman_OS/logseq/.recycle/
src/feynman_OS/logseq/pages/design files/
src/feynman_OS/logseq/pages/.DS_Store
src/feynman_OS/logseq/pages/system files/.DS_Store
# src/feynman_OS/journals/
# test/